/**
 * index.scss
 * - Add any styles you want here!
 */

body {
  background: #ffffff;
  color: #545680;
}
h1 {
  color: #5c64ff;
  background-color: #2e3280;
}
table,
td {
  border: 1px solid black;
}
th {
  color: #2e3280;
}
ol {
  color: #4950cc;
}
.column {
  float: left;
  width: 50%;
}
h2 {
  color: #2e3280;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  width: 100%;
  background-color: #4950cc;
}
